.dashboard-wrapper {
	margin-top: 100px;
}

.table-wrapper .table,
.table-wrapper-validation-blood-donor .table,
.table-wrapper-blood-request .table {
	width: 1200px;
}

.table-wrapper .table thead th,
.table-wrapper-validation-blood-donor .table thead th,
.table-wrapper-blood-request .table thead th {
	text-align: center;
}

.table-wrapper .table tbody td,
.table-wrapper-validation-blood-donor .table tbody td,
.table-wrapper-blood-request .table tbody td {
	text-align: center;
}

.dashboard-wrapper .table-wrapper-blood-request .table .bukti-penerimaan {
	max-width: 90px;
}

.dashboard-wrapper .table-wrapper-blood-request .table .bukti-penerimaan img {
	height: auto;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.dashboard-wrapper
	.table-wrapper-blood-request
	.table
	.bukti-penerimaan
	img:hover {
	transform: scale(1.1);
}

.table-wrapper-validation-blood-donor,
.table-wrapper-blood-request {
	margin-top: 3rem;
}

.modal {
	margin-top: 3%;
}

@media screen and (max-width: 992px) {
	.modal {
		margin-top: 2%;
	}
}

@media screen and (max-width: 575px) {
	.dashboard-wrapper h1 {
		font-size: 1.9rem;
	}

	.dashboard-wrapper h3 {
		font-size: 1.3rem;
	}

	.dashboard-wrapper .table-wrapper .table {
		width: 700px;
	}

	.dashboard-wrapper .table-wrapper-blood-request,
	.dashboard-wrapper .table-wrapper-validation-blood-donor,
	.dashboard-wrapper .table-wrapper {
		overflow-x: auto;
	}

	.modal {
		width: 50%;
		margin-left: 25%;
	}
}

@media screen and (max-width: 475px) {
	.dashboard-wrapper h1 {
		font-size: 1.6rem;
	}

	.dashboard-wrapper h3 {
		font-size: 1.1rem;
	}

	.table-wrapper-blood-request {
		margin-top: 3rem;
	}

	.dashboard-wrapper .table-wrapper-blood-request,
	.dashboard-wrapper .table-wrapper-validation-blood-donor,
	.dashboard-wrapper .table-wrapper-validation-blood-donor {
		overflow-x: auto;
	}

	.dashboard-wrapper .table-wrapper .table {
		width: 500px;
	}

	.dashboard-wrapper .table-wrapper-blood-request .table .bukti-penerimaan {
		max-width: 50px;
	}

	.dashboard-wrapper .table-wrapper .table th,
	.dashboard-wrapper .table-wrapper .table td,
	.dashboard-wrapper .table-wrapper-validation-blood-donor .table th,
	.dashboard-wrapper .table-wrapper-validation-blood-donor .table td,
	.dashboard-wrapper .table-wrapper-blood-request .table th,
	.dashboard-wrapper .table-wrapper-blood-request .table td {
		text-align: center;
		font-size: 0.8rem;
	}

	.dashboard-wrapper .pagination-wrapper p {
		font-size: 0.9rem;
		margin-bottom: 0.5rem;
	}

	.pagination-wrapper .pagination .page-link {
		padding: 0.2rem 0.4rem;
		font-size: 0.9rem;
	}

	.dashboard-wrapper .table-wrapper .table .button-bukti {
		width: 75%;
		height: 60px;
		font-size: 0.7rem;
	}

	.modal {
		width: 60%;
		margin-left: 20%;
	}
}

@media screen and (max-width: 375px) {
	.dashboard-wrapper {
		margin-top: 4rem;
	}

	.dashboard-wrapper h1 {
		font-size: 1.7rem;
	}

	.dashboard-wrapper h3 {
		font-size: 1.2rem;
	}

	.dashboard-wrapper .table-wrapper-blood-request .table {
		width: 150px;
	}

	.dashboard-wrapper .table-wrapper .table {
		width: 500px;
	}

	.dashboard-wrapper .table-wrapper-validation-blood-donor .table {
		width: 150px;
	}

	.dashboard-wrapper .table-wrapper .table th,
	.dashboard-wrapper .table-wrapper .table td,
	.dashboard-wrapper .table-wrapper-validation-blood-donor .table th,
	.dashboard-wrapper .table-wrapper-validation-blood-donor .table td,
	.dashboard-wrapper .table-wrapper-blood-request .table th,
	.dashboard-wrapper .table-wrapper-blood-request .table td {
		text-align: center;
		font-size: 0.8rem;
	}

	.dashboard-wrapper .pagination-wrapper p {
		font-size: 0.7rem;
		margin-bottom: 0.4rem;
	}

	.pagination-wrapper .pagination .page-link {
		padding: 0.2rem 0.4rem;
		font-size: 0.7rem;
	}

	.dashboard-wrapper .table-wrapper .table .button-bukti {
		width: 80%;
		height: 40px;
		font-size: 0.6rem;
	}

	.modal {
		width: 70%;
		margin-left: 15%;
	}
}
