.jadwal-donor-wrapper {
	margin-top: 100px;
}

.jadwal-donor-wrapper .map-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jadwal-donor-wrapper .map-wrapper iframe {
	height: 17rem;
}

.jadwal-donor-wrapper .map-wrapper .card {
	width: 70%;
}

.jadwal-donor-wrapper .map-wrapper .card-text {
	margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
	.modal-bank-darah {
		width: 70%;
		margin-top: 30px;
		margin-left: 15%;
	}

	.modal-bank-darah .modal-title {
		font-size: 22px;
	}

	.modal-bank-darah .modal-body h5 {
		font-size: 20px;
	}

	.modal-bank-darah .modal-body .table {
		font-size: 15px;
	}

	.modal-bank-darah .modal-footer button {
		font-size: 13px;
	}
}

@media screen and (max-width: 575px) {
	.modal-bank-darah {
		width: 70%;
		margin-top: 30px;
		margin-left: 15%;
	}

	.modal-bank-darah .modal-title {
		font-size: 20px;
	}

	.modal-bank-darah .modal-body h5 {
		font-size: 15px;
	}

	.modal-bank-darah .modal-body .table {
		font-size: 12px;
	}

	.modal-bank-darah .modal-footer button {
		font-size: 13px;
	}
}

/* @media screen and (max-width: 475px) {
	.modal-bank-darah {
		width: 70%;
		margin-top: 30px;
		margin-left: 15%;
	}

	.modal-bank-darah .modal-title {
		font-size: 20px;
	}

	.modal-bank-darah .modal-body h5 {
		font-size: 15px;
	}

	.modal-bank-darah .modal-body .table {
		font-size: 12px;
	}

	.modal-bank-darah .modal-footer button {
		font-size: 13px;
	}
} */

@media screen and (max-width: 375px) {
	.jadwal-donor-wrapper {
		margin-top: 4rem;
	}

	.jadwal-donor-wrapper h1 {
		font-size: 1.2rem;
	}

	.jadwal-donor-wrapper .map-wrapper iframe {
		height: 13rem;
	}

	.jadwal-donor-wrapper .map-wrapper .card .card-title {
		font-size: 1rem;
		text-align: center;
	}

	.jadwal-donor-wrapper .map-wrapper .card .card-text {
		font-size: 0.6rem;
	}

	.jadwal-donor-wrapper .map-wrapper .card button {
		font-size: 0.6rem;
	}

	.modal-bank-darah {
		width: 70%;
		margin-top: 30px;
	}

	.modal-bank-darah .modal-title {
		font-size: 20px;
	}

	.modal-bank-darah .modal-body h5 {
		font-size: 15px;
	}

	.modal-bank-darah .modal-body .table {
		font-size: 12px;
	}

	.modal-bank-darah .modal-footer button {
		font-size: 13px;
	}
}

/* .jadwal-wrapper .detail-wrapper .text-wrapper {
	margin-left: 100px;
} */
