.main-wrapper {
	margin-top: 100px;
}

.main-wrapper .map-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-wrapper .map-wrapper iframe {
	height: 17rem;
}

.main-wrapper .map-wrapper .card {
	width: 70%;
}

.main-wrapper .map-wrapper .card-text {
	margin-bottom: 5px;
}

/* .jadwal-wrapper .detail-wrapper .text-wrapper {
	margin-left: 100px;
} */
