.dashboard-admin-wrapper h1 {
	margin-top: 60px;
	margin-left: 35rem;
}

.dashboard-admin-wrapper .content {
	width: 50rem;
	margin-left: 20rem;
}

.dashboard-admin-wrapper .content .chart-container {
	position: relative;
	height: 70vh;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
