.pendonor-darah-wrapper h1 {
	margin-top: 60px;
	margin-left: 35rem;
}

.pendonor-darah-wrapper .table-wrapper {
	width: 50rem;
	margin-left: 20rem;
}

.pagination-wrapper-get-pendonors {
	margin-left: 0;
}
