@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

section.hero-section {
	/* background: rgb(255, 255, 255); */
	/* background: linear-gradient(
		131deg,
		rgba(255, 255, 255, 1) 21%,
		rgb(248, 143, 143) 68%,
		rgb(238, 192, 192) 100%
	); */

	font-family: system-ui, sans-serif;
}

/* Home page */
.homepage .hero-lottie {
	width: 32rem;
}

.homepage .header-box {
	padding-top: 3rem;
}

.homepage .header-box h1 {
	font-size: 2.8rem;
	font-weight: 600;
	animation: fadeInUp;
	animation-duration: 1s;
	--animate-delay: 0.6s;
}

.homepage .header-box h5 {
	font-size: 1.5rem;
	font-weight: bold;
	animation: fadeInUp;
	animation-duration: 2s;
	--animate-delay: 1.4s;
	font-family: 'Rubik', sans-serif;
}

.homepage .header-box h1 span {
	font-size: 3.2rem;
	font-weight: 700;
	color: var(--primary);
	font-family: 'Rubik', sans-serif;
}

.homepage .header-box h1 .slogan-1 {
	color: var(--primary-color);
}

.homepage .header-box h1 .slogan-2 {
	color: var(--secondary-color);
}

.homepage .header-box p {
	line-height: 2;
	font-weight: 500;
	animation: fadeInUp;
	animation-duration: 2s;
	--animate-delay: 0.6s;
	color: var(--secondary-color);
	font-family: 'Archivo', sans-serif;
}

.homepage .header-box button {
	animation: fadeInUp;
	animation-duration: 2s;
	--animate-delay: 1.4s;
	background-color: var(--primary-color);
	border: solid 1px var(--primary-color);
	font-size: 15px;
	font-weight: 700;
}

.homepage .header-box img {
	width: 32rem;
	animation: fadeInUp;
	animation-duration: 2s;
}

.homepage .header-box h5 {
	color: var(--secondary-color);
}
/* End home page */

/* Profile */
.profile {
	padding-bottom: 40px;
}

.profile .container {
	border: 1px solid #d1d0d3;
	border-radius: 20px;
	padding: 0 50px 50px 50px;
}

.profile .profile-header h4,
.profile .visi h4,
.profile .misi h4 {
	color: var(--secondary-color);
	font-weight: 700;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
	margin-top: 40px;
}

.profile .profile-header-detail h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	line-height: 40px;
	margin-left: auto;
}

.profile .profile-content p,
.profile .visi p,
.profile .misi p {
	font-family: 'Archivo', sans-serif;
	text-align: justify;
}

/* services */
.services {
	background-color: #fde2e2e5;
	height: auto;
	padding-bottom: 50px;
}

.services .services-header h4 {
	color: var(--secondary-color);
	font-weight: 700;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
	margin-top: 40px;
}

.services .services-header-detail h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	line-height: 40px;
	width: 35rem;
}

.services .services-header-detail p {
	font-family: 'Archivo', sans-serif;
	color: var(--secondary-color);
	font-weight: 500;
	width: 30rem;
}

.services .services-content .card {
	width: 18rem;
}

.services .services-content img {
	width: 5rem;
}

/* End services */

/* Syarat */
.syarat {
	height: auto;
}

.syarat .syarat-header h4 {
	color: var(--secondary-color);
	font-weight: 700;
	font-family: 'Archivo', sans-serif;
	letter-spacing: 10px;
	margin-top: 40px;
	text-align: end;
}

.syarat .syarat-header-detail h2 {
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	line-height: 40px;
	max-width: 70%;
	margin-left: auto;
	text-align: end;
}

.syarat .syarat-header-detail p {
	font-family: 'Archivo', sans-serif;
	color: var(--secondary-color);
	font-weight: 500;
	max-width: 70%;
	margin-left: auto;
	text-align: end;
}

.syarat .syarat-content .card {
	flex: 1 1 calc(50% - 10px);
	max-width: calc(50% - 10px);
}

.syarat .syarat-content .card .card-body {
	display: flex;
	align-items: center;
}

.syarat .syarat-content img {
	width: 5rem;
}

/* End syarat */

/* End profile */

@media screen and (max-width: 992px) {
	/* homepage */
	.homepage .header-box {
		padding-top: 3rem;
	}

	.hero-lottie {
		display: none;
	}
	/* End homepage */

	/* services */
	.services .services-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.services .services-content .card {
		width: calc(50% - 10px);
	}

	.services .services-content img {
		width: 4rem;
	}

	.services .services-content .card .card-title {
		font-size: 23px;
	}

	.services .services-content .card .card-text {
		font-size: 15px;
	}
	/* End services */

	/* Syarat */
	.syarat .syarat-header-detail h2 {
		font-family: 'Rubik', sans-serif;
		font-weight: 600;
		line-height: 40px;
		max-width: 80%;
		margin-left: auto;
		text-align: end;
	}

	.syarat .syarat-header-detail p {
		font-family: 'Archivo', sans-serif;
		color: var(--secondary-color);
		font-weight: 500;
		max-width: 85%;
		margin-left: auto;
		text-align: end;
	}

	.syarat .syarat-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.syarat .syarat-content .card {
		flex: 1 1 calc(50% - 16px);
		max-width: calc(100%);
	}
	/* End syarat */
}

@media screen and (max-width: 575px) {
	/* homepage */
	.homepage .header-box {
		padding-top: 2.6rem;
	}

	.homepage .header-box h1 span {
		font-size: 2.8rem;
	}
	/* End homepage */

	/* Profile */
	.profile .container {
		border-radius: 0%;
	}

	.profile .profile-header-detail h2 {
		font-size: 25px;
		line-height: 1.4rem;
		margin-top: 15px;
	}

	.profile .profile-content p {
		font-size: 17px;
		margin-top: 15px;
	}

	.profile .visi-misi-wrapper {
		display: flex;
		flex-direction: column;
	}

	.profile .visi-misi-wrapper .visi p,
	.profile .visi-misi-wrapper .misi p {
		font-size: 17px;
	}

	/* End profile */

	/* services */
	.services .services-header h4 {
		text-align: center;
	}

	.services .services-header-detail h2 {
		font-size: 25px;
		width: 100%;
		line-height: 1.7rem;
		margin-top: 15px;
		text-align: center;
	}

	.services .services-header-detail p {
		font-size: 17px;
		width: 100%;
		margin-top: 15px;
		text-align: center;
	}

	.services .services-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.services .services-content .card {
		width: calc(50% - 10px);
	}

	.services .services-content img {
		width: 4rem;
	}

	.services .services-content .card .card-title {
		font-size: 20px;
	}

	.services .services-content .card .card-text {
		font-size: 14px;
	}
	/* End services */

	/* Syarat */
	.syarat .syarat-header h4 {
		text-align: center;
	}

	.syarat .syarat-header-detail h2 {
		font-size: 25px;
		line-height: 1.4rem;
		margin-top: 15px;
		text-align: center;
		max-width: 100%;
	}

	.syarat .syarat-header-detail p {
		font-size: 17px;
		text-align: center;
		max-width: 100%;
		margin-top: 15px;
	}

	.syarat .syarat-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.syarat .syarat-content .card {
		flex: 1 1 calc(50% - 16px);
		max-width: calc(100%);
	}

	.syarat .syarat-content img {
		width: 3rem;
	}

	.syarat .syarat-content .card .card-title {
		font-size: 20px;
	}

	.syarat .syarat-content .card .card-text {
		font-size: 14px;
		text-align: justify;
	}
	/* End syarat */
}

@media screen and (max-width: 475px) {
	/* homepage */
	.homepage .header-box {
		padding-top: 2.6rem;
	}

	.homepage .header-box h1 span {
		font-size: 2.7rem;
	}

	.homepage .header-box .cta {
		width: 50%;
	}

	.homepage .header-box p {
		font-size: 14px;
	}

	.homepage .header-box img {
		width: 300px;
	}
	/* End homepage */

	/* Profile */
	.profile .container {
		border-radius: 0%;
	}

	.profile .profile-header h4 {
		font-size: 20px;
	}

	.profile .profile-header-detail h2 {
		font-size: 22px;
		line-height: 1.4rem;
		margin-top: 15px;
	}

	.profile .profile-content p {
		font-size: 15px;
	}

	.profile .visi-misi-wrapper {
		display: flex;
		flex-direction: column;
	}

	.profile .visi-misi-wrapper .visi h4,
	.profile .visi-misi-wrapper .misi h4 {
		font-size: 20px;
	}

	.profile .visi-misi-wrapper .visi p,
	.profile .visi-misi-wrapper .misi p {
		font-size: 15px;
	}

	/* End profile */

	/* services */
	.services .services-header h4 {
		font-size: 20px;
		text-align: center;
	}

	.services .services-header-detail h2 {
		font-size: 22px;
		width: 100%;
		line-height: 1.4rem;
		margin-top: 15px;
		text-align: center;
	}

	.services .services-header-detail p {
		font-size: 15px;
		width: 100%;
		margin-top: 15px;
		text-align: center;
	}

	.services .services-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.services .services-content .card {
		width: 100%;
	}

	.services .services-content img {
		width: 4rem;
	}

	.services .services-content .card .card-title {
		font-size: 20px;
	}

	.services .services-content .card .card-text {
		font-size: 14px;
	}
	/* End services */

	/* Syarat */
	.syarat .syarat-header h4 {
		font-size: 20px;
		text-align: center;
	}

	.syarat .syarat-header-detail h2 {
		font-size: 22px;
		line-height: 1.4rem;
		margin-top: 15px;
		text-align: center;
		max-width: 100%;
	}

	.syarat .syarat-header-detail p {
		font-size: 15px;
		text-align: center;
		max-width: 100%;
		margin-top: 15px;
	}

	.syarat .syarat-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.syarat .syarat-content .card {
		flex: 1 1 calc(50% - 16px);
		max-width: calc(100%);
	}

	.syarat .syarat-content img {
		width: 3rem;
	}

	.syarat .syarat-content .card .card-title {
		font-size: 20px;
	}

	.syarat .syarat-content .card .card-text {
		font-size: 14px;
		text-align: justify;
	}
	/* End syarat */
}

@media screen and (max-width: 375px) {
	/* homepage */
	.homepage .header-box h1 span {
		font-size: 2.5rem;
	}

	.homepage .header-box .cta {
		width: 60%;
		font-size: 14px;
	}

	.homepage .header-box p {
		font-size: 13px;
	}

	.homepage .header-box img {
		width: 200px;
	}
	/* End homepage */

	/* Profile */
	.profile .container {
		border-radius: 0%;
	}

	.profile .profile-header h4 {
		font-size: 18px;
	}

	.profile .profile-header-detail h2 {
		font-size: 18px;
		line-height: 1.4rem;
		margin-top: 15px;
	}

	.profile .profile-content p {
		font-size: 13px;
	}

	.profile .visi-misi-wrapper {
		display: flex;
		flex-direction: column;
	}

	.profile .visi-misi-wrapper .visi h4,
	.profile .visi-misi-wrapper .misi h4 {
		font-size: 18px;
	}

	.profile .visi-misi-wrapper .visi p,
	.profile .visi-misi-wrapper .misi p {
		font-size: 13px;
	}

	/* End profile */

	/* services */
	.services .services-header h4 {
		font-size: 18px;
		text-align: center;
	}

	.services .services-header-detail h2 {
		font-size: 18px;
		width: 20rem;
		line-height: 1.4rem;
		margin-top: 15px;
		text-align: center;
	}

	.services .services-header-detail p {
		font-size: 13px;
		text-align: center;
	}

	.services .services-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.services .services-content .card {
		width: 100%;
	}

	.services .services-content img {
		width: 3rem;
	}

	.services .services-content .card .card-title {
		font-size: 18px;
	}

	.services .services-content .card .card-text {
		font-size: 14px;
	}
	/* End services */

	/* Syarat */
	.syarat .syarat-header h4 {
		font-size: 18px;
		text-align: center;
	}

	.syarat .syarat-header-detail h2 {
		font-size: 18px;
		line-height: 1.4rem;
		margin-top: 15px;
		text-align: center;
		max-width: 100%;
	}

	.syarat .syarat-header-detail p {
		font-size: 13px;
		text-align: center;
		max-width: 100%;
		margin-top: 15px;
	}

	.syarat .syarat-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.syarat .syarat-content .card {
		flex: 1 1 calc(50% - 16px);
		max-width: calc(100%);
	}

	.syarat .syarat-content img {
		width: 3rem;
	}

	.syarat .syarat-content .card .card-title {
		font-size: 18px;
	}

	.syarat .syarat-content .card .card-text {
		font-size: 14px;
		text-align: justify;
	}
	/* End syarat */
}
